
.CR-Form {
    margin: 0 auto;
}

.CR-Form form {
    margin: 0;
}

.CR-Form-text {
    margin: 0;
    height: 1.2rem;
}

.CR-Form-text h2 {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.2rem;
}
.CR-Form-text p {
    margin: 2rem 1rem;
    font-size: 1rem;
    color: #666;
}

.CR-Form-text p span {
    font-weight: bolder;
    font-size: 1.3rem;
    color: #333;
} 

.form-group {
    margin: auto;
    background-color: transparent;
    font-family: "Ubuntu";
}

.CR-Form-input{
    padding: .25rem;
    border: thin solid #CB9E2C;
    font-family: "Ubuntu";
}

.CR-Form-img {
    margin: auto;
    height: 2rem;
} 
.CR-Form-button {
    margin: 1rem auto;
}

.button, .button:active, .button:visited {
    padding: .5rem;
    background-color: #CB9E2C;
    color: #FFF;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button-refresh {
    padding: .5rem;
    background-color: #CB9E2C;
    color: #FFF;
    border-radius: .3rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: center;
}

.help-block {
    color: #FF0000;
}

.pdf_descarga {
    height: 6.5rem;
    background-color: #FFF;
}

@media screen and (min-width: 48em) {
.CR-Form form {
    margin-top: 1.5rem;
}
}

@media screen and (min-width: 64em) {
.CR-Form form {
    margin-top: 0;
}
}