@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@media print {
    body {
      -webkit-print-color-adjust: exact;
      color: #000;
    }

    .hidden-print {
        display: none;
    }

    .CR-head {
        display: block;
        color: #000;
        margin: auto;
    }

    .CR-head .logo {
        height: 1.5rem;
    }

    .u-margin-top {
        margin-top: -1rem;
    }

    .CR-Description-box {
        width: 100%;
    }

    .CR-Description-box h2 {
        font-size: 1.2rem;
    }


    .CR-Description-img {
        width: 100%;
        height: 20rem;
    }

    .Dots-img {
        width: 100%;
    }


    .Dots-img div {
        width: 24%;
        margin: 0 !important;
    }

    .Thumbnails {
        width: 100%;
        height: 6rem;
        opacity: 1;
    }



    .CR-Description-boxTitle {
        width: 100%;
    }


    .overflow h2 {
        font-size: .9rem;
    }

    .CR-Desarollo-content {
        width: 100% ;
        align-content: flex-start;
    }

    .CR-Desarollo-content p {
        width: 75%;
    }

    .CR-Icons {
        width: 20%
    }

    .ubic {
        margin-top: -2.5rem;
        width: 100%;
    }

    #map {
        height:280px;
        width:65%;
    }


    .Contacto {
        display: block;
        width: 30%;
        align-self: flex-end;
        margin-bottom: 1rem;
    }

    .Contacto p {
        font-size: .8rem;
    }
    
    .Contacto span {
        font-weight: bold;
    }

    .CR-ServiceLine {
        display: block;
    }


}