@charset "UTF-8";

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
	color: #222;
}
.CR-HomeBackground {
    position: relative;
    top: 0;
	width: 100vw;
	height:100vh;
    background-image: url(../media/DJI_0021.png);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center; 
}
.CR-HomeFilter {
    position: absolute;
    top: 50%;
    right: 10%;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 1rem;
    padding: 1rem ;
}
.CR-HomeFilter form select{
    padding: .5rem 0;
    margin: 1rem 0;
    border: thin solid #CB9E2C;
    border-radius: .5rem;
}

.CR-HomeFilter form button {
    cursor: pointer;
    padding: .5rem;
    background-color: #CB9E2C;
    color: #FFF;
    border-radius: .3rem;
    font-weight: bold;
    border: none;
}
.CR-HomeBanner {
    position: absolute;
    top: 80%;
    background-color: rgba(203, 158, 44, .7);
    padding: 2rem ;
    color:#FFF;
    text-align: center;
}
.CR-HomeBanner h4 {
    font-weight: lighter;
    font-size: 1.2rem;
}
.CR-HomeBanner h3 {
    font-weight: 400;
    margin-left: 3rem;
    font-size: 1.5rem;
}
.CR-HomeBanner h3 span {
    font-weight: 600;
    font-size: 1.9rem;
}
.CR-HomeBackground-video {
    width: inherit;
    height: auto;
}
.CR-Desarollos {
    margin: 1.5rem auto;
}
.CR-Desarollos h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: .5rem
}

.CR-Desarollos-box {
    text-decoration: none;
    position: relative;
    background-color: #FFF;
    border-radius: .5rem;
    box-shadow: 1px 1px 7px #808080;
    margin: 1rem auto;
    padding-bottom: 1rem;
}

.CR-Desarollos-box a {
    text-decoration: none;
}
.CR-Desarollos-img {
    background-color: #333;
    height: 20rem;
    margin: 0 auto;
    border: 0;
}
.CR-Desarollos-boxTitle{
    position: absolute;
    top: 17.5rem;
    background-color: #CB9E2C;
    padding: .5rem;
    color: #FFF;
    text-align: right;
    font-size: 1.5rem;
}
.CR-Desarollo-content {
    margin: .5rem auto;
    color: #222;
}

.CR-Description {
    margin: 0 auto;
    
}
.CR-Description h2 {
    text-align: left;
    font-size: 2rem;
    margin: .5rem 0;
}

.CR-Description-box {
    position: relative;
    margin: 1rem auto 0;
    padding-bottom: 1rem;
}
.CR-Description-slides {
    position: relative;
}

.CR-Description-img {
    background-color: #333;
    height: 30rem;
    margin: 0 auto;
    border: 0;
}
.CR-Description-boxTitle{
    background-color: #CB9E2C;
    padding: .5rem;
    color: #FFF;
    text-align: right;
    font-size: 1.5rem;
    margin: 0 auto;
}
.CR-Description-content {
    margin: .5rem auto;
}

.CR-Icons {
    color: #808080;
}
.CR-Icons div {
    margin: .2rem;
}

.CR-Icons i {
    margin: .2rem;
}
.CR-More {
    cursor: pointer;
    color: #808080;
    background-color: transparent;
    position: relative;
    border: 0;
    text-align: right;
    margin: 1rem 0;
    font-size: 1rem;
    text-decoration: underline;
}
.CR-More:hover {
    font-style: italic;
}

.CR-ServiceSlider {
    position: relative;
    margin-top: 10rem;
}

.CR-ServiceDots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
}
.CR-ServiciosBox {
    margin: 1rem auto;
    text-align: justify;
}

.CR-ServiciosBox p {
    margin: .5rem auto;
    text-align: justify;
    line-height: 1.5rem;
}
.CR-ServiceLine {
    display: block;
    width: 100%;
    height: .1rem;
    background-color: #CB9E2C;
}
.CR-ServiciosBoxDes {
    background-color: rgba(128, 128, 128, .3);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 7px #808080;
    font-size: 1.1rem;
}

.Clients {
    margin-top: 2rem;
}
.List {
    margin: 2rem auto;
    font-size: 1.1rem;
}
.List span {
    font-size: .8rem;
}
.Publicar {
    text-align: center;
}
.Publicar h3 {
    font-size: 1.8rem;
    margin: 2rem auto;
}

.Publicar .button {
    margin-bottom: 2rem;
    padding: .5rem;
    background-color: #CB9E2C;
    color: #FFF;
    border-radius: .3rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: center;
}
.CR-Contacto-map { margin-top: 1rem;}

.CR-Contacto-map a {
    padding: .5rem;
    background-color: #CB9E2C;
    color: #FFF;
    border-radius: .3rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: right;

}
.CR-Contacto-data {
    margin: auto;
    
}
.CR-Contacto-location {
    margin: 1rem auto;
}
.CR-Contacto-phone {
    margin: 1rem auto;
}
.CR-App {
    margin-top: 15rem;
}
.CR-AppImg {
    height: 720px;
    background-image: url(../img/app.jpg);
    background-repeat: no-repeat;
	background-size: contain;
}
.u-xs-none { display: none; }

.u-xs-block { display: block; }

.u-area-icon {
    background-image: url(../img/area.png);
    background-repeat: no-repeat;
	background-size: contain;
    width: 3rem;
    height: 2.5rem;
    text-indent: -9999px;
}

.u-margin-top { margin-top: 11rem;}

.u-line { border-bottom: .1rem dashed #808080; }


@media screen and (min-width: 30em){ 
    .u-sm-none { display: none; }

    .u-sm-block { display: block; }
}

@media screen and (min-width: 48em){ 
    .CR-HomeBanner { top: 85%;}
    
    .u-md-none { display: none; }

    .u-md-block { display: block; }

}

@media screen and (min-width: 64em) {
    .CR-HomeBackground { 
        height: auto; 
        background-image: none;
    }

    .CR-HomeFilter { top:45%; }
    
    .CR-HomeBanner {
        top: 80%;
        text-align: left;
    }
    .CR-ServiceImg {
        max-height: 70vh;
    }
    .u-lg-none { display: none; }

    .u-lg-block { display: block; }
}

@media screen and (min-width: 106em) {
    .CR-HomeBackground { 
        margin-top: -15rem;
        height: auto; 
        background-image: none;
    }

}
