.mySlides {
    display: none;
}
.CR-ServiceImg1 {
   margin: 0 auto;
   height: 50vh;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

.CR-ServiceImg2 {
   margin: 0 auto;
   height: 50vh;
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.CR-ServiceImg3 {
   margin: 0 auto;
   height: 50vh;
  background-image: url("../img/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.CR-ServiceImg4 {
   margin: 0 auto;
   height: 50vh;
  background-image: url("../img/4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Next & previous buttons */
.Arrow-right, .Arrow-left {
  cursor: pointer;
  bottom: 0;
  color: #808080;
  background-color: transparent;
  font-weight: bold;
  transition: 0.6s ease;
  border: 0;
  transition: all .3s ease;
} 
.CR-Description-slides button {
  color: #FFF;
  position: absolute;
  top: 20%;
  opacity: .5;
  padding: 0 .3rem;
}
/* Position the "next button" to the right */
.Arrow-right {
  right: 0;
}
.CR-Description-slides button:hover {
  opacity: 1;
}
/* On hover, add a black background color with a little bit see-through */
.Arrow-right:hover, .Arrow-left:hover {
  color: #020202;
}

/* The dots/bullets/indicators */
.Dots {
  left:20%;
}
.Dots-img div {
  cursor:pointer;
  margin: .5rem 0;
  align-self: center;
}
.Thumbnails {
  height: 7rem;
  opacity: .7;
  background-color: #020202;
  transition: background-color 0.6s ease;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #808080;
  border-radius: 50%;
  display: flex;
  align-self: center;
  transition: all 0.6s ease;
}

.active, .dot:hover {
  background-color: #020202;
}

.u-opacity, .Thumbnails:hover  {
  opacity: 1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media screen and (min-width: 48em){ 
  .CR-ServiceImg1 {
    height: 50vh;
  }
  .CR-ServiceImg2 {
    height: 50vh;
  }
  .CR-ServiceImg3 {
    height: 50vh;
  }
  .CR-ServiceImg4 {
    height: 50vh;
  }
}

@media screen and (min-width: 64em){ 
  .CR-ServiceImg1 {
    height: 75vh;
  }
  .CR-ServiceImg2 {
    height: 75vh;
  }
  .CR-ServiceImg3 {
    height: 75vh;
    background-position: center -2rem;
  }
  .CR-ServiceImg4 {
    height: 75vh;
  }
}